---
import { type CollectionEntry, render } from "astro:content";

import License from "@/components/blog/License.astro";
import Masthead from "@/components/blog/Masthead.astro";
import PostNav from "@/components/blog/PostNav.astro";
import ShareButtons from "@/components/blog/ShareButtons.astro";
import WalineComments from "@/components/blog/WalineComments.astro";
import TOC from "@/components/blog/TOC.astro";
import { siteConfig } from "@/site.config";

import BaseLayout from "./Base.astro";

interface Props {
	post: CollectionEntry<"post">;
	nextPost?: CollectionEntry<"post"> | null | undefined;
	prevPost?: CollectionEntry<"post"> | null | undefined;
}

const { post, nextPost, prevPost } = Astro.props;
const { ogImage, title, description, updatedDate, publishDate } = post.data;
const socialImage = ogImage ?? `/og-image/${post.id}.png`;
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
const { headings, remarkPluginFrontmatter } = await render(post);
const readingTime: string = remarkPluginFrontmatter.readingTime;
---

<BaseLayout
	meta={{
		articleDate,
		description,
		ogImage: socialImage,
		title,
	}}
>
	<article class="grow wrap-break-word" data-pagefind-body>
		<div id="blog-hero" class="mb-12"><Masthead content={post} readingTime={readingTime} /></div>
		<div class="flex flex-col gap-10 lg:flex-row lg:items-start lg:justify-between">
			{!!headings.length && <TOC headings={headings} />}
			<div
				id="content"
				class="prose prose-sm prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-muted prose-headings:hover:before:text-accent sm:prose-headings:before:content-['#'] sm:prose-th:before:content-none"
			>
				<slot />
			</div>
		</div>
		<License />
		<PostNav {nextPost} {prevPost} />
		<ShareButtons title={title} url={Astro.url.href} />
		<WalineComments />
	</article>
	<button
		class="hover:border-link fixed inset-e-4 bottom-8 z-90 flex h-10 w-10 translate-y-28 items-center justify-center rounded-full border-2 border-transparent bg-zinc-200 text-3xl opacity-0 transition-all transition-discrete duration-300 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 sm:inset-e-8 sm:h-12 sm:w-12 dark:bg-zinc-700"
		data-show="false"
		id="to-top-btn"
	>
		<span class="sr-only">Back to top</span>
		<svg
			aria-hidden="true"
			class="h-6 w-6"
			fill="none"
			focusable="false"
			stroke="currentColor"
			stroke-width="2"
			viewBox="0 0 24 24"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M4.5 15.75l7.5-7.5 7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
		</svg>
	</button>
</BaseLayout>

<script>
	import "@/scripts/back-to-top.ts";
</script>
